<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payment</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/payment">Jenis Pembayaran</a></li>
              <li class="breadcrumb-item active">Tambah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Tambah Jenis Pembayaran</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/payment/create" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="type">Tipe Pembayaran</label>
                      <input type="text" class="form-control" id="type" name="type" placeholder="Masukkan Tipe Pembayaran" required>
                    </div>
                    <div class="form-group">
                      <label>Bank</label>
                      <div class="select2-purple">
                        <select class="form-control select2" data-placeholder="Pilih Bank" multiple="multiple" style="width: 100%;" name="banks" required>
                          <% banks.forEach(bank=>{ %>
                            <option value="<%= bank._id %>"><%= bank.name %>-<%= bank.bankName %>-<%= bank.noRekening %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>