<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Email</th>
      <th>No Telepon</th>
      <th>Username</th>
      <th>Nama</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < player.length; i++) { %>
        <tr>
          <td><%= i + 1%></td>
          <td><%= player[i].email %></td>
          <td><%= player[i].phoneNumber %></td>
          <td><%= player[i].username %></td>
          <td><%= player[i].name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>